<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sending Video Stream</h1>
</body>

<script src="https://unpkg.com/peerjs@1.5.4/dist/peerjs.min.js"></script>
<script type="module">
import io from 'https://cdn.socket.io/4.7.5/socket.io.esm.min.js'
const socket= io('localhost:8000')
const videoConatiner=document.getElementById('video')

const peer = new Peer();
  
socket.on('connect',()=>{
    console.log("connect",socket.id)
     socket.emit('server-connect',socket.id)
     socket.on('video-stream',(targetId)=>{  consoel.log(targetId) })
     socket.on('dummy',(data)=>{console.log(data)})
//    socket.on('video-stream',(targetId)=>{    console.log('streaming to reciver with id:',targetId)})
//     peer.on('open', function(id) {
//       console.log('joined server with id:',id)
//     });
    
})
</script>
</html>