<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sending Video Stream</h1>
</body>

<script src="https://unpkg.com/peerjs@1.5.4/dist/peerjs.min.js"></script>
<script type="module">
import io from 'https://cdn.socket.io/4.7.5/socket.io.esm.min.js'
const socket= io('localhost:8000')
const peer = new Peer();

socket.on('connect',()=>{
    console.log("connect",socket.id)
    peer.on('open', function(id) {
      console.log(' sender joined server with id:',id)
    });
    socket.on('stream',(targetId)=>{
        console.log('streaming to reciver with id:',targetId)
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
             navigator.mediaDevices.getUserMedia({ video: true })
        .then(stream => {
            const call= peer.call(targetId,stream)
        })
        .catch(error => {
            console.error('Error accessing the webcam', error);
        });
    }
    })
 
}) 
</script>
</html>